<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      <header class="jumbotron my-4">
        <h1 class="display-3">Congratulations! 🎉</h1>
        <p class="lead">You are now a Premium member. Enjoy your new privileges!</p>
      </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
