<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      <header class="jumbotron my-4">
          <h1 class="display-3">Premium Membership</h1>
          <p class="lead">Click below to upgrade and get these great features:
            <ul>
              <li>Private wikis</li>
              <li>Another benefit</li>
              <li>One last really cool benefit</li>
            </ul>
          </p>
          <form method="POST" action="/users/<%= currentUser.id %>/upgrade">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_yKxWzowzQDtQUVvTldTwHva200dtooZ4CL"
              data-amount="1500"
              data-name="Premium Membership"
              data-description="Upgrade to Premium"
              data-image="https://upload.wikimedia.org/wikipedia/commons/7/76/GreenButton_UpArrow.svg"
              data-locale="auto"
              data-zip-code="true"
              data-email="<%= currentUser.email %>"
              data-allow-remember-me="false">
            </script>
          </form>
        </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
