<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

    <% include ../static/partials/messages.ejs %>

    <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" placeholder="Enter title" value="<%= wiki.title %>">
        </div>
        <div class="form-group">
          <label for="body">Wiki body</label>
          <textarea name="body" class="form-control" rows="4" placeholder="Enter wiki body"><%= wiki.body %></textarea>
        </div>
        <% if (currentUser.isPremium() || currentUser.isAdmin()) { %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" name="private"
            <% if (wiki.private) { %>
              checked
            <% } %>
            >
            <label class="form-check-label" for="private">
              Private
            </label>
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <form action="/wikis/<%= wiki.id %>/delete" method="post" style="display: inline-block">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
