body {
  padding-top: 60px;
}

i {
  font-size: 1.2em;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.wiki-btn {
  border: none;
  background-color: transparent;
}

.wiki-body {
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod-buttons {
  display: inline-flex;
}

.button-edit {
  color: #444444;
}

.button-delete {
  color:#dc3545;
}

.list-group-item {
  max-width: 800px;
}

.list-group-item > a {
  text-decoration: none;
  color: #000;
}
