body {
  padding-top: 60px;
}

.card {
  width: 20rem;
  margin: 1rem 0 1rem;
}

p.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.2rem;
  max-height: 4.8rem;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#checkout-button-sku_FAynjjBDLhgbTf {
  background-color: #6772E5;
  color: #FFF;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
}

i {
  margin: 0 .5em;
}
