body {
  padding-top: 60px;
}

.truncate-text-multiline {
  overflow: hidden;
  display: block;
  height: 64px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  max-width: 800px;
  position: relative;
}
