<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <title>Home</title>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to Blocipedia</h1>
        <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
      </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
