<!DOCTYPE html>
<html>
  <% include ../static/partials/head.ejs %>
  <title>Sign in</title>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <form action="/users/sign_in" method="post">

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
